@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 22, 22, 23;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 237,237,237;
  --swiper-theme-color: #4f46e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 237, 237, 237;
    --background-start-rgb: 22, 22, 23;
    --background-end-rgb: 22, 22, 23;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
